{% extends "base.html" %}

{% block title %} 
<title>Properties</title>
{% endblock%}

{% block main %}
{% include 'flash_messages.html' %}
<h1 class="bold">Properties</h1>
<div class="row row-cols-3 row-cols-md-4">
   {% for p in properties %}
   <div class="col-md-4 mb-3">
        <div class="card h-100">
            <img class="card-img-top" src="{{url_for('get_image', filename=p.photo)}}" alt="Property image">
            <div class="card-body">
                <h5 class="card-title bold">{{ p.title }}</h5>
                <p class="card-subtitle text-muted mb-3">{{ p.location }}</p>
                <p class="badge badge-pill badge-primary p-2 mb-0">${{ p.price }}</p>
            </div>
            <a class="card-dark" href="{{url_for('get_property', propertyID=p.id)}}">
                <div class="card-footer text-center bg-new-clr">
                  <p>View Property</p>
                </div>
            </a>
        </div>
   </div>
   {% endfor %}
</div>
{% endblock %}