{% extends "base.html" %}

{% block title %} 
<title>View Property</title>
{% endblock%}

{% block main %}
{% include 'flash_messages.html' %}
{% if spot != None %}
<div class="card">
    <div class="row">
        <div>
            <img class="col-md-12 nh" src="{{url_for('get_image', filename=photo.filename)}}" alt="Property image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p>{{ spot.title }}</p>
                <div class="row">
                    <div class="col-sm-2">
                        <p>${{ spot.price }} </p>
                    </div>
                    <div class="col-sm-1">
                        <p>{{ spot.type }}</p>
                    </div>
                </div>
                <a href="#" class="btn card-dark bg-new-clr">Email Realtor</a> <!--doesn't have to work-->
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="jumbotron">
  <div class="container">
    <h1>Error. Please return to the home page.</h1>
  </div>
</div>
{% endif %}
{% endblock %}